:root {
  --background-color: black;
  --pacman-height: 200px;
  --pacman-width: 200px;
  --pacman-food-width: 30px;
  --pacman-food-height: 30px;
}

body {
  background-color: var(--background-color);
}

.pacman-container {
  display: flex;
  align-items: center;
}

.pacman {
  width: var(--pacman-width);
  height: var(--pacman-height);
  border-radius: 100%;
  background: red;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pacman-mouth {
  border-top: calc(var(--pacman-width)/2.5) solid transparent;
  border-bottom: calc(var(--pacman-width)/2.5) solid transparent;
  border-right: calc(var(--pacman-width)/2) solid var(--background-color);
  animation: movePacmanMouth 300ms linear infinite alternate;
}

@keyframes movePacmanMouth {
  0% {
    border-top: calc(var(--pacman-width)/2.5) solid transparent;
    border-bottom: calc(var(--pacman-width)/2.5) solid transparent;
  }
  100% {
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
  }
}

.pacman-food {
  border-radius: 100%;
  width: var(--pacman-food-width);
  height: var(--pacman-food-height);
  background-color: white;
  animation: pacmanFood 600ms 300ms infinite;
}

@keyframes pacmanFood {
  0% {
    transform: translate(300px);
  }
  90% {
    visibility: hidden;
  }
  100% {
    transform: translate(-100px, 0);
  }
}
