.one {
  background-color: yellow;
  min-height: 300px;
  position: relative;
}

@media (min-width: 801px) {
  .columns {
    width: 600px;
  }
}

@media (max-width: 800px) {
  .columns {
    width: 300px;
  }
}

.columns {
  margin: 20px;
  position: absolute;
  min-height: 250px;
}

.right {
  right: 0px;
  background-color: green
}

.left {
  background-color: red;
}

.three {
  background-color: orange;
  min-height: 50px;
  text-align: center;
}
