.inner {
  display: none;
}

.outer {
  vertical-align: middle;
}
.container {
  position: relative;
  display: inline-block;
  background-color: green;
}

.container:hover .inner {
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 0;
  border-bottom: 0px solid;
}
