body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  background-color: peru;
  text-align: center;
  flex-grow: grow;
}

.one {
  background-color: red;
}

.two {
  background-color: green;
}

.three {
  background-color: yellow;
}

.bulb {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: #f8e287;
  box-shadow: 0 0 5px 2px #f8e287;
}

.bulb-container {
  display: flex;
  margin: 30px;
  flex-direction: row;
  justify-content: space-around;
}
